<div class="card">
    <div class="card-body">
        <h1>Acerca de nosotros</h1>
        <p>
            Hector Canales<br>
            Daniel Orozco<br>
            Lourdes Moran

        </p>
    </div>
</div>